.dub
docs.json
__dummy.html
docs/
*.AppImage
appimagetool-*.AppImage
runtime-x86_64
*.exe
*.pdb
*.o
*.obj
*.lst
AppDir/uooutlands.png
AppDir/uooutlands.desktop
AppDir/usr/
local_*.conf
local_*.ini
local_*.cfg
/dev/
.editorconfig
.github/*
!.github/dependabot.yml
!.github/workflows
.github/workflows/*
!.github/workflows/bump-tool.yml
!.github/workflows/release.yml
!.github/workflows/rollback.yml
.vscode/
.idea/
*.swp
*~
.DS_Store
Thumbs.db
temp/
local_settings.conf
